:root {
    --blue: #444347;
    --orange: #ffa500;
    --red: #da1852;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

#calculator {
    width: 400px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.5em;
    border: 1px solid var(--orange);
    gap: 2px
}

.button {
    outline: 1px solid azure;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--red)
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}

#display {
    grid-column: 1 / 5;
    background-color: black;
}

#ac {
    grid-column: 1 / 3;
    
}

#zero {
    grid-column: 1 / 3;
}

.operator {
    color: var(--orange);
}

#equal {
    background-color: var(--orange);
    color:white;
}
