:root {
    --blue: #444347;
    --orange: #ffa500;
    --red: #da1852;
    --gray: rgb(73, 73, 73)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background: #282828;
    height: 100vh;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    flex-direction: column;
    align-items: center;
}

#instructions {
    text-align: justify;
    padding-top: 20px;
    color: #eeeeee;
    transition: all 9s;
    font-size: 15px;
    margin: 0 auto;
}

#instructions h2 {
    color: var(--red);
}

#calculator {
    width: 400px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.5em;
    border: 1px solid black;
    gap: 5px;
    padding: 10px;
    background-color: var(--gray);
    border-radius: 10px;

}

#display {
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    text-align: right;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--red);
    border-radius: 5px;
    user-select: none;
    transition: all 0.1s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.button:active {
    transform: scale(0.95);
}

#display {
    grid-column: 1 / 5;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#display-1 {
    width: 100%;
    color: rgb(163, 163, 163);
    font-size: 20px;
    text-align: left;
    height: 40%;
}

#display-2 {
    width: 100%;
    height: 60%;
}

#ac {
    grid-column: 1 / 3;
    
}

#zero {
    grid-column: 1 / 3;
}

#equal {
    background-color: var(--orange);
    color:white;
    transition: all 0.2s;
}

#equal:hover {
    color: var(--orange);
    background-color: white;
    text-shadow: 0px 0px 3px var(--orange);
}

.operator {
    color: var(--orange);
    transition: all 0.3s;
    text-shadow: none;
}

.operator:hover {
    color: black;
    background-color: var(--orange);
}

.number {
    transition: all 0.3s;
}

.number:hover {
    /*text-shadow: 0px 0px 3px #e04574;*/
    color: black;
    background-color: var(--red);

}

@media screen and (max-width: 500px) {
    #instructions {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #calculator {
        transform: scale(0.7);
    }
}